

body, html{
    background-image: url("https://img.freepik.com/fotos-premium/bomberos-rescate-humo-heroe-quemado-proteccion-emergencia-peligrosa-casco-bomberos_361816-13067.jpg");

    background-size: cover;
    background-repeat: no-repeat;

    height: 100%;
}


.minha-div {
    height: auto;
    width: auto;
}

